resume.synctex.gz
resume.log
resume.fls
resume.fdb_latexmk
resume.log
resume.out
resume.aux
cover-letter.synctex.gz
cover-letter.out
cover-letter.log
cover-letter.fls
cover-letter.fdb_latexmk
cover-letter.aux
